<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Yalnız gerçekten gereken izinler: API'ye erişim için INTERNET,
         "Kameradan Çek" akışı için CAMERA. Galeri/dosya seçimi (image_picker/
         file_picker) Android'in sistem seçicisini kullanır, depolama izni
         gerekmez; eklentilerin eklediği galeri izinleri aşağıda düşürülüyor. -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- open_filex galeri/medya okuma izinlerini kendi manifest'inden ekliyor.
         Bizim açtığımız her dosya (PDF dökümü, indirilen proje dosyası,
         güncelleme APK'sı) uygulamanın kendi cache dizininde; open_filex bu
         dizin için izin istemiyor (pathRequiresPermission). Google Play
         "Fotoğraf ve video izinleri" politikası, tek tek dosya seçen
         uygulamaların bu izinleri taşımasını reddediyor (2026-10, ilk Play
         gönderiminde hata). Galeri seçimi image_picker ile sistem fotoğraf
         seçicisinden geçer, izin gerektirmez. -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" tools:node="remove"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" tools:node="remove"/>
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" tools:node="remove"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" tools:node="remove"/>
    <!-- Uzaktan güncelleme (lib/core/update/): store'a çıkana kadar uygulama
         kendi APK'sını sunucudan indirip Android'in kurulum ekranını açar.
         Kullanıcı yine de bir kereye mahsus "Bu kaynaktan izin ver"i
         açmak zorundadır; Android yalnızca AYNI anahtarla imzalı
         güncellemeyi kurar. APK uygulamanın özel cache dizinine iner,
         open_filex'in FileProvider'ı (cache-path) bunu kapsar - ek bir
         FileProvider/depolama izni GEREKMEZ.
         DİKKAT: Google Play, bu izni ve mağaza dışı kendi kendini
         güncellemeyi yasaklar - Play Store'a yüklemeden önce bu izin ve
         güncelleme denetimi kaldırılmalıdır. -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <application
        android:label="ARVEND"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="false">
        <!-- Telefona bildirim (FCM): uygulama kapalıyken sistem bunları
             kullanarak çizer. Kanal MainActivity'de oluşturulur; ad
             backend fcm.Send'deki channel_id ile aynı. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_arvend" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/bildirim_rengi" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="arvend_bildirimler" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
